.carousel-img {
    height: 590px;
}

.car-box {
    width: 100%;
    position: absolute;
    left: 0;
}

.car-btn {
    position: absolute;
    top: 80px;
}

.list-car {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    z-index: 9;
    position: absolute;
    left: 10px;
    top: 310px;
    column-gap: 10px;
}

.hero {
    background-color: #cdc3f6;
}

.list-car li {
    background-color: #fff;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
}

.stroong {
    font-size: 21px;
    margin-bottom: 10px;
}

.car-link {
    display: block;
    color: #007185;
    text-decoration-line: none;
    margin-top: 10px;
}

@media only screen and (min-width: 400px) {
    .list-car li {
        background-color: #fff;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
    }
}
